[mariadbd]
innodb_log_file_size = 4M
innodb_autoextend_increment = 4
innodb_page_size = 16K
log_bin_trust_function_creators = ON
sql_mode = NO_ENGINE_SUBSTITUTION
table_definition_cache = 1024
skip-log-bin
